html {
    background-color: black;
    color: white;
}

.title {
    display: flex;
    justify-content: center;
    
}

.game {
    display: flex;
    justify-content: space-between;
}

.player-board, .computer-board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 6px;
}

.player-board *, .computer-board * {
    width: 5vh;
    height: 5vh;
    background-color: blue;
    
}

.game-over {
    display: flex;
    justify-content: space-between;
}

.restart {
    visibility: hidden;
}