body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.one {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
}

.one .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.one .header .left {
    padding-left: 48px;
}

.one .header .right {
    padding-right: 48px;
}

.one .body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 48px;
    gap: 25px;
}

.one .body .left {
    max-width: 300px;
}

.one .body .left button {
    background-color: #3882F6;
    border: 0px;
    border-radius: 5px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.one .body .right {
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 300px;
}

.one .header .right {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.two {
    text-align: center;
}

.two .cards {
    display: flex;
    justify-content: center;
    
}

.two .cards * {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 20px;

}

.two .cards * .card {
    border: 2px solid blue;
    border-radius: 10px;
    height: 150px;
}

.two .cards * p{
    font-size: 8px;
    text-align: center;
}


.three {
    background-color: #E5E7EB;
}

.three .text-container {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 198px;
    padding-right: 198px;
}

.three .text-container .quote {
    text-align: left;
    

}

.three .text-container .source {
    text-align: right;
}

.four .body {
    margin-top: 36px;
    margin-bottom: 36px;
    margin-left: 96px;
    margin-right: 96px;
    padding-left: 36px;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-right: 36px;
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    
}



.four .body .right {
    margin: auto;
    margin-right: 20px;
    
}

.four .body .right button {
    background-color: #3882F6;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid white;
    border-radius: 5px;
}


.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    flex: 1;
    margin-top: auto;
}
