.body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Press Start 2P";
    gap: 5vh;
    padding: 5vh;
}

.title {
    font-size: 5vw;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20vw;
    
}

.gameboard div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
}

.gameboard div * {
    background-color: white;
    color: black;
    width: 5vw;
    height: 5vw;
    
}