img {
    width: 10vw;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5vw;
}

.products div {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}